@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
body{
  font-family: "Tajawal", serif;
  direction: rtl;
  background: #074d9c;
}
nav{
  background-color: #074d9c;
  color: white;
}
.container a img{
  width: 120px;
}
.nav-link{
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: white;

}
.nav-link:hover{
  color: #00204a;
}
.navbar-toggler:focus{
  color: #fefefe00 !important;
}

.navbar-toggler-icon:focus{
  color: #fefefe00 !important;
}

/* start landing */
.landing{
  background-color: #074d9c;
  min-height: calc(70vh - 56px);
}
.landing h1{
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}
.landing p{
  max-width: 700px;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: white;
  margin: 20px auto;
}
.btn-main{
  background-color: #00204a;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
  text-decoration: none;
}
.btn-main:hover{
  background-color: #fff;
  color: #00204a;
}


/* Slider */



/* set scroll animation */
/* RULES: calc(${width of slide-item + margin left + margin right}px * ${total slide-item}) */
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(280px * 4));
    }
}

@keyframes scroll-right {
  0% { transform: translateX(calc(280px * 4)); 
  }
  100% { transform: translateX(0); }
}
.slider-body{
  width: 100%;
  background-color: #00204a;
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 80%; 
}

.slide-track {
  display: flex;
  width: calc(280px * 8);
}

.slide-track.left{
  animation: scroll-left 12s linear infinite; 
}

.slide-track.right{
  animation: scroll-right 12s linear infinite; 
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide-item {
  width: 100px;
  margin: 15px 25px;
  border-radius: 10px;
  transition: transform 0.5s, box-shadow 0.5s;
   /* Added transition for smooth effect */

}

.slide-item:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.678);
}

@media only screen and (max-width: 600px) {
  .slider{
      width: 100vw;
  }
}


/* Start Features */
.features{
  background-color: #074d9c;
  padding: 4rem 0;
}
.main-title img{
  width: 160px;
}
.features .feat svg{
  color: white;
  font-size: 5rem;
  transition: 0.5s;
}
.features .feat svg:hover{
  color: #00204a;
  font-size: 5.5rem;
}
.features h4{
  color: white;
}
/* Start Features */


/* slider section */
/* التصميم الأساسي */
.slider_section {
  background: #074d9c;
  display: flex;
  align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
  line-height: 1.8;
}

.slider_section .btn-box {
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.slider_section .btn1:hover {
  background-color: #007fa4;
}

.slider_section .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  transition: all 0.3s;
  border: none;
}

.slider_section .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  animation: upDown 5s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-45px);
  }
  50% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(-45px);
  }
}

@media (max-width: 768px) {
  .slider_section {
    padding: 30px 0 100px 0;
  }

  .slider_section .detail-box h1 {
    font-size: 2rem; 
    text-align: center; 
  }

  .slider_section .detail-box p {
    font-size: 12px;
    text-align: justify; 
    padding: 0 15px; 
    line-height: 1.6;
  }


}

@media (max-width: 576px) {
  .slider_section .detail-box h1 {
    font-size: 1.8rem; 
  }

  .slider_section .detail-box p {
    font-size: 11px; 
  }

  .slider_section .img-box img {
    margin-top: 20px; 
  }
}

/* End slider section */

/* Start Our Team */
.team{
  background-color:#074d9c;
}
.team .box{
  background-color: #074d9c;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}
.team .box img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.team h2{
  color: white;
}
.team .box h4{
  background-color: #00204a;
  color:white;
  /* 001287 */
}
/* End Our Team */

/* Start Contact Us */
#section {
  width: 100%;
  direction: ltr;
  background-color: #074d9c; 
  padding-bottom: 2rem;
}

#container {
  width: 80%;
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.form-custom {
  padding: 2rem;
  background-color: #00204a; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.input-custom {
  background-color: #ffffff; 
  border: 2px solid #00204a; 
  color: #00204a; 
}

.input-custom::placeholder {
  color: #074d9c;
  opacity: 0.7;
}

.input-custom:focus {
  outline: none;
  border-color: #074d9c;
  box-shadow: 0 0 8px rgba(7, 77, 156, 0.6);
}

.btn-custom {
  background-color: #074d9c;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.btn-custom:hover {
  color: white;
  border: 0.5px solid #074d9c;
}

@media (max-width: 768px) {
  #container {
    width: 100%;
  }
}
/* End Contact Us */


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-in infinite;
  -webkit-animation: fadeInUp 2s ease-in infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Start Footer */
footer{
  padding-top: 3rem;
  background-color: #00204a;
}
footer ul {
  padding-right: 0;
  list-style: none;
}
footer h4 {
  margin-bottom: 1rem;
}
/* End Footer */
